[Desktop Entry]
Version=1.0
Name=KLADE Session
Comment=Use this session to run KLADE as your desktop environment
Exec=startKLADE
Icon=
Type=Application
DesktopNames=KLADE